.details-container {
    margin-left: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.loading{
    color:#fff;
}

img {
    border-radius: 10px;
    height: 300px;
}

ul {
    margin-top: 45px;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
}


li {
    font-size: 30px;
    line-height: 35px;
}
